In [2]:
from statsmodels.sandbox import distributions
import pandas as pd
import numpy  as np
import yfinance as yf


data = pd.read_csv('mpd_stats.csv')
data.head()

,market,idt,maturity_target,mu,sd,skew,kurt,p10,p50,p90,lg_change_decr,prDec,lg_change_incr,prInc
0,bac,1/15/2010,3.0,-0.02514,0.18210,-0.38173,0.85192,-0.25389,-0.01634,0.19272,-20.0,0.14898,20.0,0.09307
1,bac,1/29/2010,3.0,-0.02194,0.21265,-0.79513,1.61552,-0.28826,0.00001,0.21786,-20.0,0.16750,20.0,0.12009
2,bac,2/12/2010,3.0,-0.01699,0.21625,-0.86181,1.83248,-0.28670,0.00720,0.22358,-20.0,0.16404,20.0,0.12713
3,bac,2/26/2010,3.0,-0.00965,0.17893,-0.70108,1.40641,-0.23570,0.00776,0.19373,-20.0,0.12882,20.0,0.09233
4,bac,3/15/2010,3.0,0.00006,0.17357,-0.71889,1.63480,-0.21657,0.01649,0.19608,-20.0,0.11325,20.0,0.09545

In [2]:
data['maturity_target'] = data['maturity_target'].ffill()

In [4]:
sets = data.groupby(['market']).indices
for i in sets:
    maturity = data.loc[data['market']==i].groupby(['maturity_target']).indices
    for m in maturity:
        result = data.loc[(data['market']==i) & (data['maturity_target']==m)]
        result.to_csv(f'data/{i}_{int(m)}.csv')

In [4]:
start, end = "2000-01-01", "2023-01-01"
silver = yf.download("SI=F", start=start, end=end, progress= False)
silver.to_csv("data/silver.csv")

c:\Users\Zaichuan\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:771: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [ ]:
bac = yf.download("BAC", start=start, end=end, progress= False)
bac.to_csv("data/bac.csv")

In [ ]:
citi = yf.download("C", start=start, end=end, progress= False)
citi.to_csv("data/citi.csv")

In [ ]:
corn = yf.download("ZC=F", start=start, end=end, progress= False)
corn.to_csv("data/corn.csv")

In [ ]:
euro = yf.download("EURUSD=X", start=start, end=end, progress= False)
euro.to_csv("data/euro.csv")

In [ ]:
gold = yf.download("GC=F", start=start, end=end, progress= False)
gold.to_csv("data/gold.csv")

In [ ]:
iyr = yf.download("IYR", start=start, end=end, progress= False)
iyr.to_csv("data/iyr.csv")

In [ ]:
oil = yf.download("CL=F", start=start, end=end, progress= False)
oil.to_csv("data/oil.csv")

In [ ]:
pound = yf.download("GBPUSD=X", start=start, end=end, progress= False)
pound.to_csv("data/pound.csv")

In [ ]:
soybns = yf.download("ZS=F", start=start, end=end, progress= False)
soybns.to_csv("data/soybns.csv")

In [ ]:
tr5yr = yf.download("^FVX", start=start, end=end, progress= False)
tr5yr.to_csv("data/tr5yr.csv")

In [ ]:
tr10yr = yf.download("^TNX", start=start, end=end, progress= False)
tr10yr.to_csv("data/tr10yr.csv")

In [ ]:
wheat = yf.download("ZW=F", start=start, end=end, progress= False)
wheat.to_csv("data/wheat.csv")

In [ ]:
yen = yf.download("JPY=X", start=start, end=end, progress= False)
yen.to_csv("data/yen.csv")

In [5]:
sp500 = yf.download("^SPX", start=start, end=end, progress= False)
sp500.to_csv("data/sp.csv")

c:\Users\Zaichuan\AppData\Local\Programs\Python\Python311\Lib\site-packages\yfinance\utils.py:771: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [88]:
import pandas as pd
import numpy as np
from utils import *
from math import sqrt

sp500 = pd.read_csv("data/sp.csv", index_col=0)
sp500.index = pd.to_datetime(sp500.index)
sp500.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000

In [90]:
sp500["return"] = (sp500["Adj Close"].shift(periods=-1)/sp500["Adj Close"]).apply(np.log)
sp500["return_6m"] = (sp500["Adj Close"].shift(periods=-21*6)/sp500["Adj Close"]).apply(np.log)
sp500["vol_20d"] = sp500["return"].rolling(window=20).std()*sqrt(252)
sp500["vol_30d"] = sp500["return"].rolling(window=30).std()*sqrt(252)
sp500["vol_1y"] = sp500["return"].rolling(window=252).std()*sqrt(252)
sp500["vol_3y"] = sp500["return"].rolling(window=756).std()*sqrt(252)
sp500 = sp500.dropna()
sp500.head()

,Open,High,Low,Close,Adj Close,Volume,return,return_6m,vol_20d,vol_30d,vol_1y,vol_3y
Date,,,,,,,,,,,,
2006-01-05,1273.459961,1276.910034,1270.300049,1273.479980,1273.479980,2433340000,0.009356,-0.006302,0.088898,0.089258,0.103387,0.129951
2006-01-06,1273.479980,1286.089966,1273.479980,1285.449951,1285.449951,2446560000,0.003650,-0.014189,0.088891,0.089310,0.103426,0.129689
2006-01-09,1285.449951,1290.780029,1284.819946,1290.150024,1290.150024,2301490000,-0.000357,-0.013830,0.088911,0.089248,0.103382,0.129236
2006-01-10,1290.150024,1290.150024,1283.760010,1289.689941,1289.689941,2373080000,0.003475,-0.024402,0.089265,0.085306,0.103227,0.129248
2006-01-11,1289.719971,1294.900024,1288.119995,1294.180054,1294.180054,2406130000,-0.006294,-0.040929,0.091699,0.087835,0.103377,0.129302

In [91]:
r = pd.read_csv("data/risk_free.csv", index_col=0)
r.index = pd.to_datetime(r.index)
r["DTB3"] = r["DTB3"].replace(".", np.nan)
r["DTB3"] = r["DTB3"].ffill()
r["DTB3"] = pd.to_numeric(r["DTB3"])
r.head()

            DTB3
DATE
1954-01-04  1.33
1954-01-05  1.28
1954-01-06  1.28
1954-01-07  1.31
1954-01-08  1.31

In [92]:
sp500 = pd.merge(sp500, r, how='left', left_index=True, right_index=True)
sp500.rename(columns={"DTB3":"risk_free_rate"}, inplace=True)
sp500.head()

,Open,High,Low,Close,Adj Close,Volume,return,return_6m,vol_20d,vol_30d,vol_1y,vol_3y,risk_free_rate
Date,,,,,,,,,,,,,
2006-01-05,1273.459961,1276.910034,1270.300049,1273.479980,1273.479980,2433340000,0.009356,-0.006302,0.088898,0.089258,0.103387,0.129951,4.10
2006-01-06,1273.479980,1286.089966,1273.479980,1285.449951,1285.449951,2446560000,0.003650,-0.014189,0.088891,0.089310,0.103426,0.129689,4.12
2006-01-09,1285.449951,1290.780029,1284.819946,1290.150024,1290.150024,2301490000,-0.000357,-0.013830,0.088911,0.089248,0.103382,0.129236,4.14
2006-01-10,1290.150024,1290.150024,1283.760010,1289.689941,1289.689941,2373080000,0.003475,-0.024402,0.089265,0.085306,0.103227,0.129248,4.19
2006-01-11,1289.719971,1294.900024,1288.119995,1294.180054,1294.180054,2406130000,-0.006294,-0.040929,0.091699,0.087835,0.103377,0.129302,4.20

In [93]:
sp6m = pd.read_csv("data/sp6m_6.csv", index_col=0)
sp6m.rename(columns={"idt":"Date"}, inplace=True)
sp6m["Date"] = pd.to_datetime(sp6m["Date"])
sp6m.set_index("Date", inplace=True)
sp6m.head()

,market,maturity_target,mu,sd,skew,kurt,p10,p50,p90,lg_change_decr,prDec,lg_change_incr,prInc
Date,,,,,,,,,,,,,
2007-01-12,sp6m,6.0,0.018803,0.086435,-1.079705,1.837194,-0.095498,0.03382,0.111149,-20.0,0.024242,20.0,0.001915
2007-01-31,sp6m,6.0,0.018350,0.077969,-1.046439,1.842209,-0.083769,0.03099,0.102377,-20.0,0.016758,20.0,0.000767
2007-02-15,sp6m,6.0,0.019976,0.084543,-1.001081,1.588657,-0.092096,0.03361,0.111834,-20.0,0.021096,20.0,0.001900
2007-02-28,sp6m,6.0,0.018823,0.100147,-1.031801,1.638698,-0.114332,0.03565,0.126683,-20.0,0.036788,20.0,0.007350
2007-03-15,sp6m,6.0,0.018767,0.099519,-1.058040,1.823271,-0.112902,0.03536,0.125505,-20.0,0.036138,20.0,0.007715

In [94]:
def create_bins(max_val, min_val, n_bins=100):
    """ Create bins for the given data and return the bin edges. """
    bins = np.linspace(min_val, max_val, n_bins + 1)  # +1 for inclusive edge
    return bins

def bin_data(data, bins):
    """ Bin the data and return the count in each bin. """
    bin_counts = np.histogram(data, bins)[0]
    return bin_counts

def find_bin_count(input_value, bins, bin_counts):
    """ Find the count of the bin that the input value belongs to. """
    bin_index = np.digitize(input_value, bins) - 1  # -1 because np.digitize starts from 1
    return bin_counts[bin_index]

In [101]:
count = 0
for i in sp6m.index:
    rnp = sp6m.loc[i]
    mean = rnp["mu"]
    std = rnp["sd"]
    skew = rnp["skew"]
    kurt = rnp["kurt"]


    try:
        coeff = fit_fleishman_from_sk(skew, kurt)
        sim = (generate_fleishman(-coeff[1],*coeff,N=100000))*std+mean


     
    except:
        print(f"Error at {i}")

    sp = sp500.loc[i]
    s0 = sp["Close"]
    alpha = sp["risk_free_rate"]
    sigma = sp["vol_20d"]
    true_retun = sp["return_6m"]
    T = 1/2
    Nsim = 100000
    stratified = True
    gbm = SimuStockPath(s0, alpha, sigma, T, Nsim, stratified)
    gbm = np.log(gbm/s0)

    
    bins = create_bins(max(max(sim), max(gbm)), min(min(sim), min(gbm)))

    rnp_counts = bin_data(sim, bins)
    gbm_counts = bin_data(gbm, bins)

    """print(describe(sim), describe(gbm))
    plt.hist(sim, bins=bins)
    plt.hist(gbm, bins=bins)
    plt.show()"""
    count += find_bin_count(true_retun, bins, rnp_counts)-find_bin_count(true_retun, bins, gbm_counts)
print(count/100000)

KeyError: Timestamp('2018-11-22 00:00:00')